.aboutSite {
  padding: 20px 0;
}

.content {
  margin: 20px 0;
  line-height: 1.6;
}

.content p {
  margin: 15px 0;
}

.content h3 {
  margin-top: 25px;
  margin-bottom: 10px;
  color: var(--header-color);
}

.content ul {
  margin: 10px 0;
  padding-left: 30px;
}

.content li {
  margin: 8px 0;
}
